<div class="jumbotron">
  <h1>Don't have a key?</h1>
  <p>Learn how to generate one...
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="panel panel-primary" ng-controller="KeyuploadCtrl">
	<div class="panel-heading">
		<h3 class="panel-title">Upload GPG key</h3>
	</div>
	<div class="panel-body">
		<div class="fileinput fileinput-new input-group"
			data-provides="fileinput">
			<div class="form-control" data-trigger="fileinput">
				<i class="glyphicon glyphicon-file fileinput-exists"></i> <span
					class="fileinput-filename"></span>
			</div>
			<span class="input-group-addon btn btn-default btn-file"><span
				class="fileinput-new">Select file</span><span
				class="fileinput-exists">Change</span><input type="file"
				name="gpgPubKey" id="gpg-key-file"></span> <a href="#"
				class="input-group-addon btn btn-default fileinput-exists"
				data-dismiss="fileinput">Remove</a>
		</div>
		<button type="button" class="btn btn-default" ng-click="add()">Submit</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Paste GPG key</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="comment">GPG key:</label>
			<textarea class="form-control" rows="5" id="gpg-public-key"></textarea>
		</div>
		<button type="button" class="btn btn-default">Submit</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Generate GPG fingerprint</h3>
	</div>
	<div class="panel-body">
		<button type="button" class="btn btn-default">Generate</button>
	</div>
</div>